{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <br />
            {% include 'default/productsList.html.twig'%}
        </div>
    </div>
    <p>&nbsp;<a href="{{ path('leboncoin' ) }}">Dernières annonces</a><p> 
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/visit.js') }}"></script>   
{% endblock %}