<table id="products" class="table">
    <thead>
        <tr class="bg-info">
            <td class="orderBy0" data-type="string">Nom</td>
            <td class="orderBy1" data-type="string">Département</td>
            <td class="orderBy2" data-type="string">Ville</td>
            <td class="orderBy3" data-type="price">Prix</td>
            <td class=""></td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.label }}</td>
                <td>{{ product.dept }}</td>
                <td>{{ product.city }}</td>
                <td>{% if product.price %}{{ product.price|number_format(2, ',', '.') }} €{% endif %}</td>
                <td><a href="{{ product.url }}" class="productLink" id="p-{{ product.id }}">Voir</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot class="bg-info">
        <tr>
            <td class="orderBy0" data-type="string">Nom</td>
            <td class="orderBy1" data-type="string">Département</td>
            <td class="orderBy2" data-type="string">Ville</td>
            <td class="orderBy3" data-type="price">Prix</td>
            <td class=""></td>
        </tr>
    </tfoot>
</table>