<table id="products" class="table table-striped">
    <thead>
        <tr class="bg-info">
            <td>Nom</td>
            <td>Dept</td>
            <td>Ville</td>
            <td>Prix</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.label }}</td>
                <td>{{ product.dept }}</td>
                <td>{{ product.city }}</td>
                <td>{% if product.price %}{{ product.price|number_format(2, ',', '.') }} €{% endif %}</td>
                <td><a href="{{ product.url }}" class="productLink" id="p-{{ product.id }}">Voir</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfooter>
        <tr class="bg-info">
            <td>Nom</td>
            <td>Dept</td>
            <td>Ville</td>
            <td>Prix</td>
            <td></td>
        </tr>
        </footer>
</table>  